
{% extends "base.html" %}
{% load static %}
{% block content %}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course Edit</h1>
                <a href="/view_course/" class="btn btn-danger btn-pill">View</a>

            </div>
            <!-- PAGE-HEADER END -->



            <form action = "{% url 'core:edit_course' course.id %}" method="POST" enctype="multipart/form-data" class="">
                {% csrf_token %}
                <div class="row">
                    <!-- IMAGE UPLOADER -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Image Upload</h3>
                            </div>
                            <div class=" card-body">
                                <div class="row mb-5">
                                    <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                                        <div class="mb-2">
                                            <span>Uploaded image :</p>
                                            <img src="{{course.image.url}}" width="150px"/>
                                        </div>
                                        <input name="course_image" type="file" class="dropify" data-bs-height="180" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- IMAGE UPLOADER end -->

                    <!-- DETAILS START -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Edit Short Term Course </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <!--  Title -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label"> Title</label>
                                            <input name="title" value="{{course.title}}" type="text" class="form-control" placeholder=" Title">
                                        </div>
                                    </div>
                                    <!--  Subtitle -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Subtitle</label>
                                            <input name="subtitle" value = "{{course.subtitle}}" type="text" class="form-control" placeholder="Subtitle">
                                        </div>
                                    </div>

                                    <!-- Description -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Description</label>
                                            <textarea value = "" id="summernote" name="description">{{course.description}}</textarea>

                                        </div>
                                    </div>
                                  

                                    <div class="form-group">


<div class="multi-field-wrapper ">
  <div class="multi-fields">
    <div class="multi-field">
      <div class="row">
      <div class="col-lg-6" style="padding-right:0px">
          <div class="form-group">
            <label>Amount</label>
            <input name="amount" type="number" value="{{course.amount}}" class="form-control form-control-lg" placeholder="Value">
          </div>
        </div>

        <div class="col-lg-6" style="padding-right:0px">
          <div class="form-group">
            <label>Amount</label>
          
            <textarea name="amounttext" class="form-control mb-4" placeholder="Textarea"  >{{course.amount_text}}</textarea>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

</div>

                                   

                                    <!-- status -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <select name="status"  class="form-control select2" data-placeholder="Status">
                                                <option value="Enable" {% if course.status %}selected{% endif %}>Enable</option>
                                                <option value="Disable" {% if not course.status %}selected{% endif %}>Disable</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- SUBMIT START -->
                                    <div class="col-lg-12 ">
                                        <div class="mt-5">
                                            <button type="submit" class="btn btn-default btn-pill">Submit</button>
                                            <a href="" class="btn btn-warning btn-pill">Cancel</a>
                                        </div>
                                    </div>
                                     <!-- SUBMIT END -->


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->
            


                </div>

        </div>
        </form>


    </div>
    <!-- CONTAINER END -->
</div>
</div>
<!--app-content close-->

<script>
    $('.multi-field-wrapper').each(function () {
      var $wrapper = $('.multi-fields', this);
      $(".add-field", $(this)).click(function (e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input,textarea').val('')
          .focus();
      });
      $('.multi-field .remove-field', $wrapper).click(function () {
        if ($('.multi-field', $wrapper).length > 1)
          $(this).parent('.multi-field').remove();
      });
    });

  

  </script>

{% endblock content %}